html,
canvas {
  position: fixed;
  left: 0%;
  display: block;
}
.input_video {
  position: fixed;
  height: 100%;
  opacity: 50%;
  right: 100%;
  transform: scaleX(-1);
  filter: invert(100%) hue-rotate(60deg) brightness(0.7) contrast(300%);
  z-index: 1;
}

#enterButton {
  position: fixed;
  left: 50%;
  bottom: 35%;

  z-index: 4;
  font-size: 25px;
  font-family: "Trispace", sans-serif;
  font-weight: 400;
  color: white;
  padding: 5px 10px;

  transform: translate(-50%, -50%);
  border-style: none;
  border: 1.5px solid currentColor;
  border-color: white;
  border-radius: 30px;
  margin: 4px 2px;
  background-color: rgb(81, 38, 194);
}
#enterButton:hover {
  color: rgb(81, 38, 194);
  background-color: magenta;
  border-color: rgb(81, 38, 194);
  text-decoration: none;
  cursor: none;
}
#nextButton {
  position: fixed;
  left: 25%;
  bottom: 35%;
  width: 100px;

  z-index: 4;
  font-size: 25px;
  font-family: "Trispace", sans-serif;
  font-weight: 400;
  color: white;
  padding: 2px 4px;
  transform: translate(-50%, -50%);
  transform-origin: center;
  border-style: none;
  border: 1.5px solid currentColor;
  border-color: white;
  border-radius: 30px;
  /* margin: 4px 2px; */
  background-color: rgb(81, 38, 194);
}
#nextButton:hover {
  color: rgb(81, 38, 194);
  background-color: magenta;
  cursor: none;
  border-color: rgb(81, 38, 194) ;
}
#analyser {
  position: fixed;
  left: 25%;
  bottom: 35%;
  z-index: 4;
  font-size: 40px;
  width: 20%;
  text-align: center;
  font-family: "Syne", sans-serif;
  color: #02f886;
  transform: translate(-50%, -50%);
  animation: blinker 1s linear infinite;
  transform: translate(-50%, -50%);
  transform-origin: center;
  line-height: 1;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#scan {
  position: fixed;
  left: 25%;
  width: 20%;
  bottom: 35%;
  text-align: center;
  z-index: 4;
  font-size: 40px;
  font-family: "Syne", sans-serif;
  color: #02f886;
  transform: translate(-50%, -50%);
  line-height: 1;
}

#title {
  position: fixed;
  margin: 0px;
  left: 50%;
  bottom: 50%;
  z-index: 4;
  white-space: nowrap;
  font-size: 100px;
  font-family: "Syne", sans-serif;
  color: #02f886;
  transform: translate(-50%, 50%);
  transform-origin: center;
  /* animation: blinker 1s linear infinite; */
}

.dragMouse {
  position: fixed;
  transform: translate(-50%, -50%);
  transform: rotate(-90deg);
  transform-origin: center;
  font-size: 16px;
  color: #02f886;
  text-align: center;
  top: 47%;
  padding: 0px;
  margin: 0px;
  right: -5.5%;
  transform-origin: center;
  font-family: "Trispace", sans-serif;
  z-index: 10;
}
